{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/login.css' %}">

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="col-md-3 mx-auto formbox" >
        <h1 >reset password</h1>
        <form action="{% url 'resetpassword' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="newpassword"  class="mx-auto customdisplay usernamecls" placeholder="password" ><br>
            <input type="hidden" name="token" value="{{token}}" ><br>
            <input type="submit" value="change" class="mx-auto custombtn customdisplay" >
        </form>
        <span class="mx-auto my-3 customdisplay" style="color: white;" >back to <a href="{% url 'login' %}" >login</a> page</span>
        
    </div>
</div>
{% endblock content %}


